.team-section {
    grid-area: barbie;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: auto;
    gap: 15px;
    border-radius: 5px;
    border-right: 4px solid #F41CA4;
    border-left: 4px solid #F41CA4;
}

.barbie,
.oppenheimer {
    width: 8%;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.oppenheimer {
    filter: grayscale(1);
}