.team-section {
    grid-area: barbie;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: auto;
    gap: 15px;
    background-color: pink;
}

.barbie {
    width: 8%;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 50%;
}