/* Barbie Theme */
.barbie-show {
    display: block;
}

.barbie-hide {
    display: none;
}

.barbie-new-board-fields input {
    margin: 0 auto;
    padding: 10px;
}

.barbie-new-board-form {
    grid-area: bf;
    height: fit-content;
    border: 5px solid #30CDB1;
    background-color:#f29ad8;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;

}

.barbie-new-board-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.barbie-board-header button {
    position: relative;
    top: 20px;
    border: none;
    border-bottom: 2px solid #00000097;
    background-color: transparent;
    height: fit-content;
    color: #00000097;
    font-weight: bold;
    font-family: 'barbiemediumitalic';
    font-size: 12px;
}

.barbie-new-board-header button:hover {
    border-bottom: 2px solid black;
    color: black;
    cursor: pointer;
}

.barbie-inputs {
    width: 18vw;
}

.barbie-new-board-fields {
    padding: 10px;
}

.barbie-new-board-fields div {
    margin-bottom: 5px;
    padding: 10px 0;
}

.barbie-new-board-fields div label {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

.barbie-new-board-fields input {
    background-color: transparent;
    width: 16vw;
    border: none;
}

.barbie-new-board-fields input:required {
    border-bottom: 1.5px solid black;
}

.barbie-new-board-submit {
    position: relative;
    left: 40%;
    padding: 4px;
}


/* Oppenheimer css */

.oppenheimer-show {
    display: block;
    background-color:#d96d2b;
}

.oppenheimer-hide {
    display: none;
}

.oppenheimer-new-board-fields input {
    margin: 0 auto;
    padding: 10px;
}

.oppenheimer-new-board-form {        
        grid-area: bf;
        height: fit-content;
        border: 5px solid #b75f13;
        background-color:#394335;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 2px solid rgb(224, 88, 4);
    }

.oppenheimer-new-board-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif; letter-spacing: 3px;
    margin-top: 5px;
    font-size: 13px;
    color: #000000;
}

.oppenheimer-board-header button {
    position: relative;
    top: 20px;
    border: none;
    border-bottom: 2px solid #01000097;
    background-color: transparent;
    height: fit-content;
    color: #030000;
    font-weight: bold;
    font-size: 12px;
}

.oppenheimer-new-board-header button:hover {
    border-bottom: 2px solid rgb(6, 0, 0);
    color: rgb(6, 0, 0);
    cursor: pointer;
}

.oppenheimer-inputs {
    width: 18vw;
}

.oppenheimer-new-board-fields {
    padding: 10px;
}

.oppenheimer-new-board-fields div {
    margin-bottom: 5px;
    padding: 10px 0;
}

.oppenheimer-new-board-fields div label {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

.oppenheimer-new-board-fields input {
    background-color: transparent;
    width: 16vw;
    border: none;
}

.oppenheimer-new-board-fields input:required {
    border-bottom: 1.5px solid rgb(178, 99, 25);
}

.oppenheimer-new-board-submit {
    position: relative;
    left: 40%;
    padding: 4px;
}