* {
    border-radius: 4px;
}
.new_card_form {
    border: 3px solid rgb(255, 0, 174);
    grid-area: cf;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
}

.new_card_form h2 {
    text-align: center;
    color: rgb(235, 91, 194)

}

.new_card_fields {
    margin-bottom: 5px;
    padding: 10px;
}

.new_card_fields div,
textarea {
    padding: 10px;
}

.new_card_submit {
    position: relative;
    left: 35%;
    padding: 4px;

}

.new_card_fields div label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.new_card_fields textarea {
    width: 18vw;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: transparent;
}
