* {
    border-radius: 4px;
}
.barbie-new-card-form {
    border: 3px solid rgb(255, 0, 174);
    grid-area: cf;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
    color: #E10686;
}

.barbie-new-card-form h2 {
    text-align: center;
    color: rgb(235, 91, 194)

}

.barbie-new-card-fields {
    margin-bottom: 5px;
    padding: 10px;
}

.barbie-new-card-fields div,
textarea {
    padding: 10px;
}

.barbie-new-card-submit {
    position: relative;
    left: 35%;
    padding: 4px;

}

.barbie-new-card-fields div label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.barbie-new-card-fields textarea {
    width: 18vw;
    padding: 10px;
    border: 1.5px solid #E10686;
    border-radius: 5px;
    background-color: transparent;
}

/* -------------------- oppenheimer ---------------------
.oppenheimer-new-card-form {
    border: 3px solid rgb(255, 0, 174);
    grid-area: cf;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
}

.oppenheimer-new-card-form h2 {
    text-align: center;
    color: rgb(235, 91, 194)

}

.oppenheimer-new-card-fields {
    margin-bottom: 5px;
    padding: 10px;
}

.oppenheimer-new-card-fields div,
textarea {
    padding: 10px;
}

.oppenheimer-new-card-submit {
    position: relative;
    left: 35%;
    padding: 4px;

}

.oppenheimer-new-card-fields div label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.oppenheimer-new-card-fields textarea {
    width: 18vw;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: transparent;
} */
