div.Dashboard {
    display: grid;
    grid-template-areas: '. head head .'
                         '. barbie barbie .'
                         '. body body .'
                         '. footer footer .';
    grid-template-rows: 0.5fr 0.5fr 6fr 0.3fr;
    grid-row-gap: 5px;
    width: 80vw;
    height: 100vw;
    margin: 15px auto;
}

html {
    background-image: none;
    overflow-y: hidden;
}
.dashboard-header {
    grid-area: head;
}

.dashboard-barbie-banner {
    grid-area: barbie;
}

.dashboard-body {
    grid-area: body;
    display: flex;
    flex-flow: row nowrap;
}

.dashboard-body aside {
    flex: 1;
    align-items: flex-start;
    
}
.dashboard-body section {
    flex: 2;
    align-items: flex-start;
    
}

/* .dashboard-footer {
    grid-area: footer;
    text-align: center;
} */

button {
    border: none;
    border-radius: 5px;
    padding: 2px 4px;
    font-family: 'barbiemediumitalic';
    background-color: pink;
}

.logout-btn {
    position: absolute;
    top: 50px;
    right: 450px;
}