body {
    font-family: 'Barbie', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
    background-color: #f29ad8;
    font-family: 'Le Journey', sans-serif;
    font-size: 30px;

}

nav h1 {
    font-size: 60px;
    font-family: 'Barbie', sans-serif;
    font-weight: bolder;
    color: #f039b1;
    margin: 0;
}

nav h3 {
    margin: 0;
}

nav ul li {
    list-style-type: none;
}

.dropdown:hover {
    cursor: pointer;
    width: auto;
}

.dropdown:hover .dropdown_content {
    display: block;
    line-height: 30px;
    opacity: 1;
    transition: all .5s ease;
}

.dropdown_content {
    position: absolute;
    top: 80px;
    right: 193px;
    width: 10vw;
    z-index: 1;
    opacity: 0;
    transform-origin: top;
    border: 2px solid black;
}

.dropdown_content li {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 212px;
    right: 40px;
    padding: 5px 10px;
    border-bottom: 2px solid black;
    z-index: 2;
    background-color: #f29ad8;
    
}

.dropdown_content li:hover, 
.boards_list_item_delete:hover {
    cursor: pointer;
    background-color: #f29ad883;

}

.boards_list_item, 
.boards_list_item_delete {
    border: none;
    padding: 0;
    font-size: 0.7em;
    background-color: transparent;
}
