body {
    font-family: 'Barbie', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
    background-color: #f29ad8;
}

nav h1 {
    font-size: 60px;
    font-family: 'Barbie', sans-serif;
    color: #f039b1;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown_content {
    display: block;
    width: auto;
    padding: 10px 15px;
    margin-top: -20px;
    line-height: 30px;
    background-color: white;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    border: 3px solid rgb(222, 22, 22);
}

.dropdown_content li:hover {
    text-decoration: underline;
}