.display-selected-board {
    background-color: #11B4FF;
    grid-area: sb;
    margin-right: 2px;
    margin-bottom: 10px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}