div.App {
    width: 100vw;
    height: 100vh;
}

.app-header,
.app-body,
.app-footer {
    width: 80vw;
    margin: 0 auto;
}

.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

