
.Dashboard { 
    background: url(../public/pink-exp-serious.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
  background: url(../public/barbie-movie-ryan-gosling-margot-robbie-hd-wallpaper-uhdpaper.com-905@1@k.jpg) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-container {
    margin: 30% auto;
    display: block;
    text-align:center;
    animation: myAnim 2s ease 0s 1 normal forwards;
} 


@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
} */


/* button {
    border: none;
    border-radius: 5px;
    padding: 2px 4px;
    font-family: 'barbiemediumitalic';
    background-color: green;
} */


.app-footer {
	text-align: center;
	background-color: white;
}